In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle

WARNING:tensorflow:From c:\Users\harsh\OneDrive\Desktop\ANN Clasification Project\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
#load the ann model
model=load_model('model.h5')
#load the label encoder and scaler and ohe 
with open('LabelEncoder_gender.pkl','rb')as file:
    labelEncoder_gender=pickle.load(file)
with open('ohe_geo.pkl','rb')as file:
    ohe_geo=pickle.load(file)
with open('scaler.pkl','rb')as file:
    scaler=pickle.load(file)

WARNING:tensorflow:From c:\Users\harsh\OneDrive\Desktop\ANN Clasification Project\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [35]:
#example data
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary': 50000
}

In [36]:
# Transform the new data (must be in a 2D format like [['France']])
geo_encoded = ohe_geo.transform([[input_data['Geography']]]).toarray()

# Create the DataFrame with the correct feature names
geo_encoded_df = pd.DataFrame(geo_encoded, columns=ohe_geo.get_feature_names_out(['Geography']))

c:\Users\harsh\OneDrive\Desktop\ANN Clasification Project\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [37]:
input_data=pd.DataFrame([input_data])
input_data['Gender']=labelEncoder_gender.transform(input_data['Gender'])

In [38]:

input_data=pd.concat([input_data.reset_index(drop=True),geo_encoded_df],axis=1)

In [39]:
input_data.drop(columns=['Geography'],inplace=True)

In [40]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [41]:
scaled_input=scaler.transform(input_data)

In [42]:
#prediciton
pred=model.predict(scaled_input)
pred

1/1 [==============================] - 0s 170ms/step

array([[0.03962392]], dtype=float32)

In [43]:
prob=pred[0][0]
prob

0.03962392